// Avatar image in the Chinese doc
// https://github.com/laravel-china/laravel-docs
.avatar-66 {
    width: 40px;
    height: 40px;
    border-radius: 6px;
}

// Language dropdown
.language-dropdown {
    .dropdown-toggle img {
        width: 22px;
    }

    .dropdown-menu img {
        width: 17px;
    }
}

// GitHub source of this mirror site
.main .nav-github {
    a > img {
        width: 18px;
    }
}

// Adjust font size for fallback "Source Sans Pro"
.sidebar {
    h2 {
        font-weight: 600;
    }

    > ul {
        > li {
            font-size: 14px;
            line-height: 1.8;
            > ul {
                font-size: 14px;
            }
        }
    }

    a {
        line-height: 1.8;
    }
}

.slide-menu {
    .slide-docs-nav > ul {
        > li {
            > ul {
                font-size: 14px;
            }
        }
    }
}

.docs article {
    ul {
        font-size: 14px;
    }

    p {
        font-size: 15px;
        line-height: 1.70;
    }

    h1 + ul {
        font-size: 16px;
        line-height: 1.5;
    }

    li > ul {
        font-size: 14px;
    }
}

// Hide Laracon banner
.laracon-banner {
    display: none;
}
